[Unit]
Description=cmus

[Service]
Type=forking
User=chip
ExecStart=/usr/bin/screen -d -m -S cmus /usr/bin/cmus --listen /run/user/1000/cmus-socket
Environment="HOME=/home/aaron" "USERNAME=aaron"

[Install]
WantedBy=multi-user.target
