@charset "utf-8";
/* google AD */
.ad_panel_1_r{ font-family:Verdana, Arial, Helvetica, sans-serif; width:123px; text-align:center; margin:0 3px 0 0;display:block;}
.ad_panel_2_r{ font-family:Verdana, Arial, Helvetica, sans-serif; padding:10px 5px 10px 25px; }
.ad_panel_3_r{ font-family:Verdana, Arial, Helvetica, sans-serif; width:212px; text-align:center; margin:0;display:block;}
.ad_panel_4_r{ font-family:Verdana, Arial, Helvetica, sans-serif; width:123px; text-align:center; padding:10px 10px 10px 15px; display:block;}