@charset "utf-8";
/*start of Notification style */

/*For event page initial sample style*/
.alert_icon { width:40px; background:url(images/notification/alert_icon.png) no-repeat;}
.alert_icon_read { width:40px; background:url(images/notification/alert_icon_read.png) no-repeat;}

/*For liveview page style*/
.note { display: block; }
a.msg_counts { height: 20px; padding: 0px 0px 0px 2px; background: url(images/notification/msg_counts_l.gif) no-repeat;color: #fff;cursor: pointer; float: right; font-weight: 700; text-decoration: none; }
a.msg_counts .msg_counts_m { background: url(images/notification/msg_counts_m.gif) repeat-x; display: block; float: left; height: 17px; padding: 3px 2px 0px 2px; }
a.msg_counts .msg_counts_r { background: url(images/notification/msg_counts_r.gif) no-repeat; display: block; float: left; width: 2px; height: 20px; }
a.msg_counts:hover { background-repeat: no-repeat; background-position: 0 -20px; }
a.msg_counts:hover .msg_counts_m { background-repeat: repeat-x; background-position: 0 -20px; }
a.msg_counts:hover .msg_counts_r { background-repeat: repeat-x; background-position: 0 -20px; }

/* grey out button for [mark page as read] and [mark all page as read]*/
a.allread { height: 22px; background:url(images/notification/allread_btn_l.png) no-repeat 0 0; color: #333; cursor: pointer; display:inline-block; margin:0 0 5px; padding-left:23px; text-decoration: none; vertical-align:middle; }
a.allread .allread_r { background: url(images/notification/allread_btn_r.png) no-repeat; display: block; float: left; width: 6px; line-height:26px; height: 22px; }
a.allread:hover { background-repeat: no-repeat; background-position: 0 -22px;}
a.allread:hover .allread_r { background-repeat: repeat-x; background-position: 0 -22px;}
a.allread_2 { height: 22px; background:url(images/notification/allread_btn_2.png) no-repeat 0 0; color: #333; cursor: pointer; display:inline-block; margin:0 0 5px; padding-left:23px; text-decoration: none; vertical-align:middle; }
a.allread_2 .allread_r { background:url(images/notification/allread_btn_r.png) no-repeat; display: block; float: left; width: 6px; line-height:26px; height: 22px;}
a.allread_2:hover { background-repeat: no-repeat; background-position: 0 -22px;}
a.allread_2:hover .allread_r { background-repeat: repeat-x; background-position: 0 -22px;}
.allread_grey { height: 22px; background:url(images/notification/allread_btn_l_read.png) no-repeat 0 0; color: #333; display:inline-block; margin:0 0 5px; padding-left:23px; text-decoration: none; vertical-align:middle; }
.allread_grey2 { height: 22px; background:url(images/notification/allread_btn_2_read.png) no-repeat 0 0; color: #333; display:inline-block; margin:0 0 5px; padding-left:23px; text-decoration: none; vertical-align:middle; }
.allread_grey2 .allread_r_grey, .allread_grey .allread_r_grey { background: url(images/notification/allread_btn_r.png) no-repeat; display: block; float: left; width: 6px; line-height:26px; height: 22px; } 

