@charset "utf-8";
/* start of btn style */
a.btn_main, a.btn_main span,
a.btn_red, a.btn_red span,
a.btn_minor, a.btn_minor span, a.btn_main_disable, a.btn_main_disable span, a.btn_minor_disable, a.btn_minor_disable span{
background:url(images/basic_btn/btnStyle_l.png) no-repeat;
_background:url(images/basic_btn/btnStyle_l.gif) no-repeat;
color:#fff;
cursor:pointer;
display:inline-block;
font-size:1.1em;
font-weight:bold;
height:29px;
line-height:29px;
text-align:center;
text-decoration:none;
white-space:nowrap;
}

a.btn_main, a.btn_red, a.btn_minor, a.btn_main_disable, a.btn_minor_disable{
margin:3px 5px;
line-height:0;
}

a.btnsmall_main, a.btnsmall_main span,
a.btnsmall_red, a.btnsmall_red span,
a.btnsmall_minor, a.btnsmall_minor span, a.btnsmall_main_disable, a.btnsmall_main_disable span, a.btnsmall_minor_disable, a.btnsmall_minor_disable span{
background:url(images/basic_btn/btnStyleSmall_l.png) no-repeat;
_background:url(images/basic_btn/btnStyleSmall_l.gif) no-repeat;
color:#fff;
cursor:pointer;
display:inline-block;
font-size:1.1em;
font-weight:bold;
height:21px;
line-height:21px;
text-align:center;
text-decoration:none;
white-space:nowrap;
}

a.btnsmall_main, a.btnsmall_red, a.btnsmall_minor, a.btnsmall_main_disable, a.btnsmall_minor_disable{
margin:3px 2px;
line-height:0;
}

a.btn_main span, a.btn_red span, a.btn_minor span, a.btn_main_disable span, a.btn_minor_disable span{
background:url(images/basic_btn/btnStyle_r.png) no-repeat;
_background:url(images/basic_btn/btnStyle_r.gif) no-repeat;
*display:inline;
margin-left:5px;
padding:0 10px 0 5px;
min-width:50px;
width:auto !important;
width:50px;
}

a.btnsmall_main span, a.btnsmall_red span, a.btnsmall_minor span, a.btnsmall_main_disable span, a.btnsmall_minor_disable span{
background:url(images/basic_btn/btnStyleSmall_r.png) no-repeat;
_background:url(images/basic_btn/btnStyleSmall_r.gif) no-repeat;
*display:inline;
margin-left:3px;
padding:0 6px 0 3px;
min-width:40px;
width:auto !important;
width:40px;
}

a.btn_main, a.btnsmall_main{background-position:0 0;}
a.btn_main span, a.btnsmall_main span{background-position:right 0}
a.btn_main:hover, a.btnsmall_main:hover{background-position:0 -29px;text-decoration:none;}
a.btn_main:hover span, a.btnsmall_main:hover span{background-position:right -29px;}
a.btn_main:active, a.btnsmall_main:active{background-position:0 -58px;text-decoration:none;}
a.btn_main:active span, a.btnsmall_main:active span{background-position:right -58px;}
a.btn_main_disable, a.btnsmall_main_disable{background-position:0 -87px; cursor:default; text-decoration:none;}
a.btn_main_disable span, a.btnsmall_main_disable span{background-position:right -87px; cursor:default; color:#83c1cf;}

a.btn_minor, a.btnsmall_minor{background-position:0 -116px; color:#666;}
a.btn_minor span, a.btnsmall_minor span{background-position:right -116px; color:#666;}
a.btn_minor:hover, a.btnsmall_minor:hover{background-position:0 -145px;text-decoration:none; color:#666;}
a.btn_minor:hover span, a.btnsmall_minor:hover span{background-position:right -145px;}
a.btn_minor:active, a.btnsmall_minor:active{background-position:0 -174px;text-decoration:none;color:#666;}
a.btn_minor:active span, a.btnsmall_minor:active span{background-position:right -174px;color:#666;}
a.btn_minor_disable, a.btnsmall_minor_disable{background-position:0 -203px; cursor:default; text-decoration:none; color:#ccc;}
a.btn_minor_disable span, a.btnsmall_minor_disable span{background-position:right -203px; cursor:default; color:#ccc;}



a.btn_red, a.btnsmall_red{background-position:0 -232px;}
a.btn_red span, a.btnsmall_red span{background-position:right -232px}
a.btn_red:hover, a.btnsmall_red:hover{background-position:0 -261px;text-decoration:none;}
a.btn_red:hover span, a.btnsmall_red:hover span{background-position:right -261px;}
a.btn_red:active, a.btnsmall_red:active{background-position:0 -232px;text-decoration:none;}
a.btn_red:active span, a.btnsmall_red:active span{background-position:right -232px;}
a.btn_red_disable, a.btnsmall_red_disable{background-position:0 -232px; cursor:default; text-decoration:none;}
a.btn_red_disable span, a.btnsmall_red_disable span{background-position:right -232px; cursor:default; color:#83c1cf;}






.apply_btn_area { float:left; width:100%; margin:0px auto 10px auto; clear:both; text-align:center; }

a.btn_fb{
	background-color:#3B5998;
	color:#fff;
	cursor:pointer;
	display:inline-block;
	font-size:1.1em;
	font-weight:bold;
	height:29px;
	width:208px;
	line-height:29px;
	text-align:center;
	white-space:nowrap;
	margin:5px 0 0 4px;
	border-radius:0.3em;
	text-decoration:underline;
	}
a.btn_fb:hover{
	color:#fff;
	text-decoration:underline;
	}
	
a.btn_fb_cube{
	background-color:#3B5998;
	color:#fff;
	cursor:pointer;
	display:inline-block;
	font-size:1.1em;
	font-weight:bold;
	height:29px;
	width:29px;
	line-height:29px;
	text-align:center;
	white-space:nowrap;
	margin:5px 0 5px 4px;
	border-radius:0.3em;
	text-decoration:underline;
	float:right;
	}
a.btn_fb_cube:hover{
	color:#fff;
	text-decoration:underline;
	}
	
.btn_fb_icon{
	width:24px; height:23px;
	background-image:url(images/basic_icon/fb_icon.png);
	margin:2px 0 2px 2px;
	float:left;}
.btn_fb_sign{float:left; letter-spacing:0.3px;}


.save_snapshot_icon{ background-image:url(/device_function/css/images/liveview_btn/save_btn.png); width:15px; height:15px; margin:3px 3px 0 0 ; float:left;}

