@charset "utf-8";
/*aside panel*/
.aside_panel_bottom { float: right; margin-right:10px; margin-right:4px \9;}
.aside_panel_bottom_Left { float: left;margin-left:10px }
/*begin news*/
.aside_news { font-family: Verdana, Arial, Helvetica, sans-serif; float: left; _margin-bottom: -7px; padding: 10px 0; display:block; }
.aside_news .boardtitle { width:542px; height: 25px; background: url(images/aside_panel/boardtitle_gray.png) left top no-repeat; clear:both;}
.aside_news .boardtitle .r { height: 25px; background: url(images/aside_panel/boardtitle_gray.png) right top no-repeat; margin-left:10px; }
.aside_news .boardtitle a { color:white; }
.aside_news .boardbody { width:530px; height: 202px; background: url(images/aside_panel/boardbody_top.png) top right no-repeat; border-left: 1px #bfbfbf solid; border-right: 1px #bfbfbf solid; border-bottom: 1px #bfbfbf solid; padding: 3px 5px 10px 5px; display:block; 
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;}
.aside_news .boardbody ul { height:205px; display:block; overflow: auto; }
.aside_news .boardbody li { display:block; clear:both;}
.aside_news .boardbtm { height:5px;border:1px solid #ccc; border-radius:2px; border-top:none;}
.aside_news .boardbtm .r { height:5px; background:url(images/aside_panel/boardbtm.png) top right no-repeat; margin-left:5px; }
.aside_news a { display:block; padding-bottom:5px; }
/*begin side content*/
.aside_contact { font-family: Verdana, Arial, Helvetica, sans-serif; float: right; padding: 0; display:block; }
.aside_contact .boardtitle { height: 25px; width: 212px; background: url(images/aside_panel/boardtitle_gray.png) left top no-repeat; }
.aside_contact .boardtitle .r{ height: 25px; background: url(images/aside_panel/boardtitle_gray.png) right top no-repeat; margin-left:5px; }
.aside_contact .boardbody { background: url(images/aside_panel/boardbody_top.png) top right no-repeat; border: 1px #bfbfbf solid; border-top: none; border-bottom: none; width: 200px; position: relative; _position: static; padding: 3px 5px 0;  *padding:6px 5px 0;
overflow: auto; }
.aside_contact .boardbtm { height: 5px; width: 212px; line-height: 0; background: url(images/aside_panel/boardbtm.png) top left no-repeat; }
.aside_contact .boardbtm .r { height:5px; background:url(images/aside_panel/boardbtm.png) top right no-repeat; margin-left:5px; }
.contact_opinion { background:url(images/aside_panel/co_bg.gif) no-repeat right bottom; line-height:1.8em; padding:5px 0;}
/*AD for Service*/
.aside_panel_bottom_full { position:relative; margin: 0 auto; padding:0; background:#d1d1d1; display:block; clear:both; }
.aside_ad_service{ position:relative; width:990px; height:240px; margin:0 auto; display:block; overflow:hidden;}