@charset "utf-8";
/* CSS for container body */
.sub_body { min-height: 100%; behavior: url(/css/PIE.htc);   background-attachment:inherit;position:absolute; top:0; background:url(images/header_footer/Inner-page_cut_02.png) repeat-x right top;width: 100%;}
/*pre footer image*/
#footer-lab { padding:0; z-index:-100;}
/* CSS for header */
#header { position: relative; width: 100%; display:block; z-index: 9999; margin:0; padding: 5px 0 0 0; /*background: #f6f6f6;
background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f6f6f6)); background: -webkit-linear-gradient(top, #ffffff, #f6f6f6); background: -moz-linear-gradient(top, #ffffff, #f6f6f6); background: -ms-linear-gradient(top, #ffffff, #f6f6f6); background: -o-linear-gradient(top, #ffffff, #f6f6f6); background-image: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 100%); -webkit-box-shadow: #28aacb 0 3px 3px, inset #fff 0 0px 0; -moz-box-shadow: #28aacb 0 3px 3px, inset #fff 0 0px 0; box-shadow: #28aacb 0 3px 3px, inset #fff 0px 0; */
behavior: url(/css/PIE.htc); }
#header_index { position: relative; width:1000px; height:85px; display:block; z-index: 9999; margin: 10px auto 0 auto; }
#header_main { position: relative; width: 1000px; height:85px; display:block; z-index: 9999; margin: 10px auto 0 auto; }
#header a.logo { position: relative; float:left; width: 161px; height: 80px; display: block; margin:5px 0 0 0;}
#header_index a.logo { position: relative; float:left; width: 161px; height: 80px; display: block; margin:5px 0 0 0; }
.user { position:relative; float:right; height: 35px; white-space:nowrap; margin:0 12px 15px 0; _margin:0 7px 5px 0; }
.user img { vertical-align:middle; }
.user p { margin:0 0 0 10px; padding:0; display: inline;}
/*Start slatenav*/
.navBar { position:relative; float:right; min-width:700px; height: 30px; clear: right; }
.slatenav { position: relative; float:right; display: inline-block; }
.slatenav ul { margin:0; padding:0; list-style-type:none; width:auto; }
.slatenav ul a { text-decoration:none; }
.slatenav ul li { position: relative; height:30px; float:left; color:#00b0d0; display: inline-block; margin:0 1px 0 0; }
.slatenav ul li p { padding:4px 12px; cursor:default; }
.slatenav ul a li p { display:block; float:left; color:#00b0d0; padding:4px 12px; text-decoration:none; white-space:nowrap; behavior: url(/css/PIE.htc); }
.slatenav ul a:hover li { height:30px; text-decoration:none; background: transparent url(images/header_footer/nav_arrow.gif) no-repeat center bottom; cursor:pointer; }
.slatenav ul a:hover li p { color:#fff; background:#00b0d0; text-decoration:none; white-space:nowrap; cursor:pointer; -webkit-border-radius:7px; -moz-border-radius:7px; border-radius:7px; behavior: url(/css/PIE.htc); }
.slatenav ul a.current li { position:relative; height:30px; text-decoration:none; background: transparent url(images/header_footer/nav_arrow.gif) no-repeat center bottom; cursor:pointer; }
.slatenav ul a.current li p { color:#fff; background:#00b0d0; text-decoration:none; white-space:nowrap; cursor:default; -webkit-border-radius:7px; -moz-border-radius:7px; border-radius:7px; behavior: url(/css/PIE.htc); }
/*submenu solution_1*/
.slatenav ul a li ul { padding: 0; margin:0; position: absolute; top: 30px; left: 0; width:170px; display: none; background: #555; border-radius:7px; opacity:0.95; overflow:hidden; z-index:99999999; }
.slatenav ul a li ul li{ width:150px; background: #555; display: inline-table; color: #fff; padding:10px 10px 5px 10px; margin:0; behavior: url(/css/PIE.htc);}
.slatenav ul a li ul li:hover{ background: #666; }
.slatenav ul a li:hover ul { display: block; }/*important*/
.slatenav ul a:hover li ul li { display: block; background-image:none; }/*important for old temp*/
/*submenu solution_2*/
.slatenav_sub {  position: absolute; top:30px; left:90px; left:0\9; margin:0; padding:0; display: block; z-index:99999999; }
.slatenav_sub ul { width:170px; height:auto; margin:0; padding:0; display: block; border-radius:7px; opacity:0.95; overflow:hidden; behavior: url(/css/PIE.htc);}
.slatenav_sub ul li { width:150px; height:auto; color:#fff; line-height:1.3em; background:#555; background-image: none; display: block; padding:10px; margin:0;}
.slatenav_sub ul a li { height:auto; text-decoration:none; background:#555; background-image: none; cursor:pointer; }
.slatenav_sub ul a:hover li { height:auto; text-decoration:none; background:#666; background-image: none; }

.slatenav_index { position: relative; float:right; display: inline-block; }
.slatenav_index ul { margin:0; padding:0; list-style-type:none; width:auto; }
.slatenav_index ul a { text-decoration:none; }
.slatenav_index ul li { position: relative; height:30px; float:left; color:#00b0d0; display: inline-block; margin:0 1px 0 0; }
.slatenav_index ul li p { padding:4px 12px; cursor:default; }
.slatenav_index ul a li p { display:block; float:left; color:#00b0d0; padding:4px 12px; text-decoration:none; white-space:nowrap; behavior: url(/css/PIE.htc); }
.slatenav_index ul a:hover li { height:30px; text-decoration:none; background: transparent url(images/header_footer/nav_arrow.gif) no-repeat center bottom; cursor:pointer; }
.slatenav_index ul a:hover li p { color:#fff; background:#00b0d0; text-decoration:none; white-space:nowrap; cursor:pointer; -webkit-border-radius:7px; -moz-border-radius:7px; border-radius:7px; behavior: url(/css/PIE.htc); }
.slatenav_index ul a.current li { position:relative; height:30px; text-decoration:none; background: transparent url(images/header_footer/nav_arrow.gif) no-repeat center bottom; cursor:default; }
.slatenav_index ul a.current li p { color:#fff; white-space:nowrap; background:#00b0d0; white-space:nowrap; cursor:default; -webkit-border-radius:7px; -moz-border-radius:7px; border-radius:7px; behavior: url(/css/PIE.htc); }
/*submenu_index solution_1*/
.slatenav_index ul a li ul { padding: 0; margin:0; position: absolute; top: 30px; left: 0; width:170px; display: none; background: #555; border-radius:7px; opacity:0.95; overflow:hidden; z-index:99999999; }
.slatenav_index ul a li ul li{ width:150px; background: #555; display: inline-table; color: #fff; padding:10px 10px 5px 10px; margin:0; behavior: url(/css/PIE.htc);}
.slatenav_index ul a li ul li:hover{ background: #666; }
.slatenav_index ul a li:hover ul { display: block; }/*important*/
.slatenav_index ul a:hover li ul li { display: block; background-image:none; }/*important for old temp*/
/*submenu solution_2*/
.slatenav_sub_index {  position: absolute; top:30px; left:130px; left:0\9; margin:0; padding:0; display: block; z-index:99999999; }
.slatenav_sub_index ul { width:170px; height:auto; margin:0; padding:0; display: block; border-radius:7px; opacity:0.95; overflow:hidden; behavior: url(/css/PIE.htc);}
.slatenav_sub_index ul li { width:150px; height:auto; color:#fff; line-height:1.3em; background:#555; background-image: none; display: block; padding:10px; margin:0;}
.slatenav_sub_index ul a li { height:auto; text-decoration:none; background:#555; background-image: none; cursor:pointer; }
.slatenav_sub_index ul a:hover li { height:auto; text-decoration:none; background:#666; background-image: none; }

/*End blueslate nav*/


/* CSS for Prefooter */
#footer { margin: 10px auto; padding: 10px 0 30px 0; position: relative; display:block; background:#fff;}
#footer_index { margin: 0 auto; padding: 10px 0 50px 0; position: relative; display:block; }
#footer_sub { margin: 0 auto; padding: 10px 0 50px 0; position: relative; display:block; background:#00b0d0; }
#prefooter { width: 944px; display:block; margin: 10px auto; padding: 0 0 0 30px; behavior: url(/css/PIE.htc); }
#prefooter_index { width: 944px; display:block; border: 1px solid #CCC; margin: 10px auto; padding: 0 0 0 30px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; behavior: url(/css/PIE.htc); }
#prefooter_index div h6 { *padding-top:10px;}
#prefooter_sub { width: 944px; display:block; margin: 10px auto; padding: 0 0 0 30px; }
.column { float: left; width: 200px; margin-top: 20px; margin-bottom: 20px; }
.services { width: 200px; }
.contact { width: 200px; }
.products { width: 200px; }
/* Column headings in prefooter */
.column h6 { color: #888; line-height: 1; margin-bottom: 10px; font-weight:700; }
.column h5 { color: #CFF; line-height: 1; margin-bottom: 10px; font-weight:700; }
/* Vertical divider between columns in prefooter */
.divider { border-left: 1px solid #DDD; float: left; height: 149px; margin: 0 19px 0 20px; width: 0; }
.divider_sub { background:#168bb6; border-right: 1px solid #6CF; float: left; height: 149px; margin: 0 19px 0 20px; width: 1px; }
/* Specify link style for regular links in prefooter */
#prefooter a, #prefooter_index a { color: #888; display: inline-block; text-decoration: none; }
#prefooter div h6 { *padding-top:10px;}
#prefooter_sub a { color: #fff; display: inline-block; text-decoration: none; }
/* specify link style for links in on-hover state in prefooter */
#prefooter a:hover, #prefooter_index a:hover { color: #00b0d0; text-decoration: underline; }
#prefooter_sub a:hover { color:#CFF; text-decoration: underline; }
/* specify link style for active links in prefooter */
#prefooter a:active, #prefooter_index a:active { color: #00b0d0; text-decoration: underline; }
#prefooter_sub a:active { color: #CFF; text-decoration: underline; }
/* over ride default ul and li styles */
#prefooter ul, #prefooter li, #prefooter_index ul, #prefooter_index li, #prefooter_sub ul, #prefooter_sub li { margin: 0; padding: 0; line-height:18px; }
/*Footer*/
#btmfooter { width: 944px; color: #888; line-height: 1; margin: 40px auto 20px auto; padding: 0 0 0 30px; position: relative; }
#btmfooter_index { width: 944px; color: #888; line-height: 1; margin: 20px auto 20px auto; padding: 0 0 0 30px; position: relative; }
#btmfooter_indexl2{ width: 944px; color: #888; line-height: 1; margin: 5px auto 0 auto; padding: 0 0 0 30px; position: relative; }
/* CSS for media icon */
.footer_truste_icon { float:left; margin:3px 15px 0 0; }
.footer_media_icon { float:left; margin:10px 15px 0 0; }
.footer_text { position:absolute; top:15px; left:237px; width:500px; text-align:center; display:block; z-index:999; line-height:18px;}
.footer_text_fr { position:absolute; top:15px; left:297px; width:500px; text-align:center; display:block; z-index:999; line-height:18px;}
.footer_text_sub { float:left; margin-right:15px; margin-top:20px; color:#fff; }
.footer_earth { float:left; margin-left:30px; margin-top:-6px; }
.footer_separator { /*border-left:1px #c0c0c0 solid; width:1px;*/ height:50px; float:left; margin: 0 120px 0 0px; }
.footer_separator_sub { background:#168bb6; border-right: 1px solid #6CF; width:1px; height:50px; float:left; margin: 0 20px 0 0px; }
/*CSS for language bar*/
.footer_btmline { position:relative; float:right; margin:7px 20px 0 0; height: 32px; background: url(images/header_footer/langbar_l.png) left top no-repeat; padding: 0; color: #fff; line-height: 30px; _line-height: 27px; }
.footer_btmline span.bg_r { height:32px; line-height: 32px; margin:0 0 0 35px; padding:0 12px 0 0; display:inline-block; background:url(images/header_footer/langbar_r.png) right top no-repeat; color: #fff; }
.footer_btmline span.bg_r a { color: #fff; }
.footer_btmline_sub { position:relative; float:right; margin:7px 20px 0 0; height: 32px; background: url(images/header_footer/langbar_l_sub.png) left top no-repeat; padding: 0; color:#333; line-height: 30px; _line-height: 27px; }
.footer_btmline_sub span.bg_r { height:32px; line-height: 32px; margin:0 0 0 35px; padding:0 12px 0 0; display:inline-block; background:url(images/header_footer/langbar_r_sub.png) right top no-repeat; color:#333; }
.footer_btmline_sub span.bg_r a { color:#333; }
/*CSS for language*/
.lang_switch_panel { position: absolute; top: -184px; right:2px; height: 183px; overflow: hidden; overflow-y: auto }
.lang_switch { display:block; color:#333; }
.lang_switch ul { display:block; }
.lang_switch ul li { margin:0; display:block; background:#eee; color:#333; clear:both; white-space:nowrap; }
.lang_switch ul li a { display:block; background:#eee; padding:0 20px 0 8px; margin:0; _margin:-5px 0; line-height: 26px; color:#333; white-space:nowrap; text-decoration:none; }
.lang_switch ul li a:hover, .lang_switch ul li a.on { text-decoration:none; background:#BBB; color:#fff; }
/*separateLine*/
.separateLine { margin:0 5px; }
/*CLEAR - use in divs that contain floats*/
.fix { display:block; height:0; clear:both; visibility:hidden; }
/*sharing board*/
a.sharing_tw_btn {background: url(images/header_footer/btn_tweet.png) left top no-repeat;color: #FFF;border: 1px solid #81c6d4;}
a.sharing_sina_btn {background: url(images/header_footer/btn_sina.png) left top no-repeat;color: #FFF;border: 1px solid #81c6d4;}
a.sharing_qq_btn {background: url(images/header_footer/btn_qq.png) left top no-repeat;color: #FFF;border: 1px solid #81c6d4;}
a.sharing_tw_btn, a.sharing_sina_btn, a.sharing_qq_btn{font-size: 1.1em; height: 18px;line-height: 1.3em;display: inline-block;padding: 0 7px 0 22px;}
a.sharing_tw_btn:hover, a.sharing_sina_btn:hover, a.sharing_qq_btn:hover{ text-decoration:none;}
