@charset "utf-8";
/* lightbox */

.lightbox .lightbox_board { width:400px; }
.lightbox .lightbox_board .title{ background:url(images/lightbox/boardTitle_no_rc.png) top left no-repeat; border-top-left-radius:5px; border-top-right-radius:5px; height:25px; margin: 0px; }
.lightbox .lightbox_board .title h3 { text-indent:3px; font-weight:bold; background:url(images/lightbox/boardTitle_no_rc.png) top right no-repeat; -webkit-border-top-left-radius:5px;-moz-border-radius-topleft:5px; border-top-left-radius:5px; -webkit-border-top-right-radius:5px;-moz-border-radius-topright:5px; border-top-right-radius:5px; margin:0 0 0 18px; padding:0px; color:white; behavior: url(/css/PIE.htc);
font-size:15px;
}
.lightbox .lightbox_board .title .close { background:url(images/lightbox/boardTitle_close_no_rc.png) top right no-repeat; -webkit-border-top-left-radius:5px;-moz-border-radius-topleft:5px; border-top-left-radius:5px; -webkit-border-top-right-radius:5px;-moz-border-radius-topright:5px; border-top-right-radius:5px; width:34px; height:25px; float:right; behavior: url(/css/PIE.htc); }
.lightbox .lightbox_board .content { width:358px; background:white url(images/lightbox/boardBody_top.png) top right no-repeat; border:1px #bfbfbf solid; border-top:none; -webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomleft:5px; border-bottom-left-radius:5px; -webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomright:5px; border-bottom-right-radius:5px; position:relative; _position:static; padding:10px 20px 20px;*padding:20px; behavior: url(/css/PIE.htc);}

.lightbox .lightbox_board .content_noshadow { width:358px;
border:1px #bfbfbf solid; border-top:none; -webkit-border-radius:5px;-moz-border-radius:5px; border-radius:5px; position:relative; _position:static; padding:10px 20px 20px;*padding:20px; behavior: url(/css/PIE.htc);
}

.lightbox .lightbox_board .content h3 { color: #333; font-weight:700; padding-bottom:10px;}
.lightbox .lightbox_board .content .date { }
.lightbox .lightbox_board .content .list_scroll { width: 358px; height: 360px; margin-bottom:10px; overflow-x: hidden; overflow-y: auto; display: block;}
.lightbox .lightbox_board .content .list_scroll dd{ list-style:none; display:block; clear:both; padding-bottom: 10px; *margin-left:-40px !important /*ie7 fix*/; }
.lightbox .lightbox_board .content .list_scroll dd i.list_num{ list-style:none; padding-right: 3px; text-align:left; display: table-cell; }
.lightbox .lightbox_board .content .list_scroll dd i.list_cont{ list-style:none; text-align: left; display: table-cell; word-wrap:break-word;}
.lightbox .lightbox_board .content p {margin-bottom: 10px;font-weight:400;}
.lightbox .lightbox_board .content p.left{float:left;width:23%;display:block;text-align:left;word-wrap: break-word;}
.lightbox .lightbox_board .content p.right{float:right;width:77%;display:block;text-align:left;clear:right;}
.lightbox .lightbox_board .content ul {display: block; margin:0; padding:0;}
.lightbox .lightbox_board .content li {display: block; overflow: hidden; list-style: none; margin: 5px 0; clear:both;}
.lightbox .lightbox_board .content .postlist { padding: 5px 10px; display:block;}
.lightbox .lightbox_board .content .postlist li { list-style: none; background:  url(images/basic_icon/square_list.gif) 0 4px no-repeat; padding-left:12px; margin: 5px 0; clear:both; display:block;}
.lightbox .lightbox_board .content .nas_postlist { padding: 5px 10px; display:block;}
.lightbox .lightbox_board .content .nas_postlist ul { width:auto; float:left; display:block;}
.lightbox .lightbox_board .content .nas_postlist ol { float:left; width:58px; height:58px; padding:5px; margin-right:10px; border: 1px solid #CCC; display: block;}
.lightbox .lightbox_board .content .nas_postlist li { float:left; width:230px; background:  url(images/basic_icon/square_list.gif) 0 4px no-repeat; padding-left:12px; margin: 5px 0; display: block;}
.lightbox .lightbox_board .content .highlight{margin: 10px 0;background-color: #FFE1E1; padding: 5px 10px;}
.lightbox .lightbox_board .content .re_checkbox { width: 24px; height: 24px; display: block; border: 0px none; background-image: url(images/lightbox/checkBox.gif); background-repeat: no-repeat; margin: 0px 0px 0px 0px; float: left; }
.lightbox .lightbox_board .content .label { -webkit-text-size-adjust:none; margin:1px 0 0 5px; float:left;}
.lightbox .lightbox_board .content .cont_block{display:block;clear:both;}

.container .banner_login .login_panel form .re_checkbox_hover { width: 24px; height: 24px; display: block; border: 0px none; background-image: url(images/lightbox/checkBox.gif); background-repeat: no-repeat; margin: 0px 0px 0px 0px; background-position: 0 -24px; float: left; }
.container .banner_login .login_panel form .re_checkbox_filled { width: 24px; height: 24px; display: block; border: 0px none; background-image: url(images/lightbox/checkBox.gif); background-repeat: no-repeat; margin: 0px 0px 0px 0px; background-position: 0 -48px; float: left; }
.container .banner_login .login_panel form .re_checkbox_press { width: 24px; height: 24px; display: block; border: 0px none; background-image: url(images/lightbox/checkBox.gif); background-repeat: no-repeat; margin: 0px 0px 0px 0px; background-position: 0 -72px; float: left; }

.lightbox input[type='text'], .lightbox input[type='password'], .lightbox input.text, .lightbox input.password { border-top:1px solid #333; border-bottom:1px solid #bbb; border-right:1px solid #999; border-left:1px solid #666; padding:2px 3px; padding:3px 3px 2px \9; margin:0 3px; }
.lightbox input[type="checkbox"], .lightbox input.checkbox { margin-right:3px; vertical-align:middle; }
.lightbox input[type="radio"], .lightbox input.radio { margin:0 3px 0 0; margin:0 0 0 -3px \9; margin:0 3px 0 0 \0; }
.lightbox input.noMarginLeft { margin-left:0; }
.lightbox input.noMarginRight { margin-right:0; }
.lightbox_warning { font-weight: bold; color: #C00; line-height: 12px;}
.lightbox_bottombtn{ display: block; text-align:center;clear:both;}
.lightbox_loading_img{ display: block; text-align:center; padding:10px 0 0;}

/* special style */
.lightbox_background_warn{ background:#ffe1e1;}

/*lightbox_volume_progressbar_board*/
.lightbox_volume_progressbar_board { position: relative; width:360px; height: 24px; display:block; background:url(images/lightbox/d_nas_volume_bar.jpg) no-repeat; overflow:hidden; margin: 0 0 10px 0; }
.lightbox_volume_progressbar_area { position: absolute; left: 1px; top: 1px; width:100%; height: 22px; z-index: 197;}
.lightbox_volume_progressbar { position: relative; height: 22px; background:url(images/lightbox/d_nas_volume_y.jpg) repeat-x; display:block; }
.lightbox_nas_volume_text { position:absolute; left: 0; top: 4px; width:100%; height:18px; z-index:201; text-align: center; }
.lightbox_nas_volume_text .file_name { float:left; width:290px; height:18px; padding-left:10px; line-height:16px; text-align: left; display:block; overflow:hidden;}
.lightbox_nas_volume_text .percent { float:right; width:40px; height:18px; padding-right:10px; text-align: right; display:block;}
.lightbox_nas_deviceimg { position:relative; width: 58px; height: 58px; padding: 2px 0 2px 1px; cursor: pointer; overflow:hidden;}
.lightbox_nas_device_status { position:absolute; top:42px; left:37px; width:15px; height:15px; display:block; }

.lightbox .lightbox_board .deviceinfo ul { margin:20px 0; padding:0;}
.lightbox .lightbox_board .deviceinfo li { overflow: hidden; list-style: none; margin:10px 0; clear:both;}

.passwordnotice{float:right; width:210px; margin-top:3px;}



.infomation{ margin-top:30px;}
.information_icon{ width:50px; height:50px; margin:0 auto; margin-top:10px; margin-bottom:10px;}
.information_title{ font-size:22px; color:#00b0d0; text-align:center; margin-bottom:10px;}
.information_content{ font-size:14px; font-weight:normal; padding:20px 0; line-height:22px; text-align:center;}
.infomation_btn{ margin:10px 0; text-align:center;} 
.infomation_normal{ position:relative; width:750px; padding:30px; margin:30px auto; background:#fff; display:block; border-radius:5px; behavior: url(/css/PIE.htc);}
.infomation_small{ position:relative; width:520px; padding:30px; margin:30px auto; background:#fff; display:block; border-radius:5px; behavior: url(/css/PIE.htc);}
a.btn_close { position:absolute; top:10px; right:10px; width: 22px; height: 22px; margin: 0; display: block; background: url(images/lightbox/icon_close.png) no-repeat; cursor: pointer; overflow: hidden; text-indent: -9999px; z-index:99999;}
a:hover.btn_close { background: url(images/lightbox/icon_close.png) 0 -22px no-repeat; }


.information_title_al{ font-size:22px; color:#00b0d0; text-align:left; margin-bottom:0px; padding:0 0 0 20px; overflow:auto;}
.information_title_alb{ font-size:22px; color:#000; text-align:left; margin-bottom:10px; padding:0 0 0 20px; overflow:auto;}
.information_content_al{ font-size:14px; font-weight:normal; line-height:22px; text-align:left; padding:0 0 0 20px; margin-bottom:10px; overflow:auto;}
.information_content_img01{ background:url(../download/css/images/touch_phone.png) no-repeat; width:280px; height:200px; margin:5px 20px 5px 5px;; float:left; overflow:auto;}
.information_content_img02{ background:url(../download/css/images/Mobile_app.png) no-repeat; width:320px; height:200px; margin:5px 20px 5px 5px;; float:left; overflow:auto;}
.information_content_img_store{margin:0 auto; text-align:center; padding:5px;}
.information_content_img_wizard{ background:url(../download/css/images/wizard_icon.png) no-repeat; width:72px; height:72px; margin:5px 20px 5px 5px;; float:left; overflow:auto;}
.information_content_qrcode{width:158px; height:150px; margin:5px;  float:left;}
.information_content_img_qrcode{ margin:0 auto; text-align:center; padding:5px;}
.information_content_img_step{height:285px; overflow:hidden; margin:5px 20px 20px 20px; float:left; text-align:center;}
.information_content_img_step_l{height:auto; width:400px; overflow:hidden; margin:5px 20px 20px 20px; float:left; text-align:left;}
.information_content_img_next{ background:url(../download/css/images/arrow_next.png); width:50px; height:50px; overflow:hidden; float:left; margin-top:140PX; margin-bottom:115px;}
.information_content_link{float:left; margin:8px 10px 0 10px;}
.information_content_al ul li{ line-height:25px; margin-top:15px;}
.information_content_al li{margin-top:30px;}

.informateion_download_pc_wizared{width:auto; height:30px; border:1px solid #00b0d0; display:block; float:right; padding:5px 0; margin-bottom:10px; cursor:pointer;}

.lightbox_btn a{ font-size:15px; text-align:center; border: 2px solid #00b0d0; color:#00b0d0; border-radius:0.4em; padding:5px 20px; margin-top:10px; display:inline-block;}
.lightbox_btn a:hover{ text-decoration:none; background-color:#00b0d0; color:#fff;}

.information_line_or{ background:url(../download/css/images/line_or.png) center no-repeat; padding:15px 0; margin-bottom:10px;}