@charset "utf-8";
/*My service frame set */
.frame_m { padding:10px 5px; display:block; border:0; }
a:hover { text-decoration:none; }
.container_myservice { position:relative; width:990px; height:auto; min-height:420px; margin:0 auto; padding:0; display:block; background:#ffffff; border-radius:5px; 
-moz-border-radius:5px; -webkit-border-radius:5px; behavior: url(/css/PIE.htc);}
.basic_content_myservice { float:left; width:100%; vertical-align: top; margin-bottom:20px; display:block; }
.whitebox_myservice { padding:0; min-height: 160px; display:block; }

/* btn position */
a .goback { float:right; height:25px; display:block; background: url(../cloudnvr/images/arrow_back.png) 0 0 no-repeat; padding:5px 0 0 28px; margin:15px 0 0 0; color:#333; white-space:nowrap; cursor:pointer; }
a:hover .goback { color:#00b0d0; white-space:nowrap;}
.btnbar{ width:676px;display:block;*display: block;padding:10px 0;text-align:center;}

/*my service_tab*/
.myservice_tab{ width:100%; height:20px; margin:10px 0; display:inline-block; overflow:visible;}
.myservice_tab ul{ font-weight:bold; margin:0 auto; display:inline-block;}
.myservice_tab li { float:left; position:relative; margin:0 auto; display:inline-block;}
.myservice_tab li.bdl { height:12px; width:1px; float:left; border-right:1px solid #c2c2c2;display:inline-block; margin-top:3px;}
.myservice_tab li a{ width:auto; height:auto; color:#c2c2c2; text-align:center; padding:0px 2px 4px; margin:0 12px; display:inline-block;}
.myservice_tab li a:hover { color:#00b0d0; border-bottom:#00b0d0 3px solid;}
.myservice_tab li a.selected { color:#00b0d0; border-bottom:#00b0d0 3px solid; cursor:default;}
.myservice_tab li.myservice_notice{ height:15px; min-width:15px; text-align:center; line-height: 15x; display: inline-block; font-size:12px; font-weight:600; color: #fff; background: #ff6600; border-radius: 100px; padding:3px; margin: -2px 10px 0 -10px;}
