/* truste seal logo (local resource)*/
.truste_seal_en { width: 142px; height: 45px; display: inline-block; background-image: url(images/truste/seal_en.png); background-repeat: no-repeat; }
.truste_seal_fr { width: 312px; height: 57px; display: inline-block; background-image: url(images/truste/seal_fr.png); background-repeat: no-repeat; }
.truste_seal_it { width: 191px; height: 57px; display: inline-block; background-image: url(images/truste/seal_it.png); background-repeat: no-repeat; }
.truste_seal_de { width: 239px; height: 57px; display: inline-block; background-image: url(images/truste/seal_de.png); background-repeat: no-repeat; }
.truste_seal_es { width: 215px; height: 57px; display: inline-block; background-image: url(images/truste/seal_es.png); background-repeat: no-repeat; }
.truste_seal_tw { width: 169px; height: 57px; display: inline-block; background-image: url(images/truste/seal_tw.png); background-repeat: no-repeat; }

