body,html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.main-container {
    width: 85%;
    margin: 0px auto 0 auto;
    height: 600px;
    /*border: 1px solid #eee;*/
}

@media screen and (max-width:1200px){
    .main-container {
        width: 98%;
        margin: 0 auto;
    }
}

.video-container {
    float: left;
    height: 520px;
    width: 100%;
}

.video-box {
    width: calc(100% - 300px);
    float: left;
    height: 100%;
    background: rgba(0,0,0,.8);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.info-box {
    float: left;
    width: 260px;
    height: 100%;
    padding: 0 20px;
}


#video {
    width: 100%;
    max-height: 100%;
}

.video-title {
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 20px;
    color: #333;
}


.display-text .fa-pencil{
    display: none;
    color: #666;
    opacity: 0.4;
    margin-left: 5px;
}

.display-text {
    display: inline-block;
    min-width: 200px;
}

.display-text .text {
    display: inline-block;
}

.video-title.editing input{
   display: inline;
}

.video-title.editing .display-text {
    display: none;
}

.display-text:hover .fa-pencil {
   display: inline-block;
}

.video-title input{
   border: none;
    height: 30px;
    font-size: 20px;
    color: #333;
    font-weight: bold;
    border-bottom: 1px dashed #666;
    display: none;
    padding: 0 5px 0 0;
    outline: none;
}

.video-title .video-action {
    color: #666;
    float: right;
}

.video-title .video-action .video-action-btn {
    cursor: pointer;
    opacity: 0.6;
    margin-right: 20px;
}

.video-title .video-action .video-action-btn:hover{
    opacity: 1;
}


.info-item-title {
    float: left;
    width: 145px;
    color: #666;
}

.info-item span {
   color: #444;
}


.info-group {
    margin-bottom: 20px;
}

.info-group .group-title {
    font-weight: bold;
    font-size: 20px;
    color: #666;
}


.info-group .group-title i{
    margin-right: 5px;
}

.info-group .info-item {
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    margin-top: 10px;
}

.upload-item {
    margin-top: 20px;
}

.subtitle {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #666;
}
.subtitle img{
   height: 20px;
    margin-top: 5px;
    float: left;
    margin-right: 10px;
}

.subtitle .upload-action {
    float: right;
    font-size: 12px;
    margin-top: 6px;
    position: relative;
}

.upload-item .action-btn, .info-item .action-btn{
   padding: 3px 8px;
    background: #f3f3f3;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    line-height: 12px;
    cursor: pointer;
    color: #666;

}

.download-btn {
    padding: 3px 8px;
    background: #f3f3f3;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    line-height: 12px;
    cursor: pointer;
    color: #666;
    display: inline-block;
    /*margin: 20px 0;*/
    float: right;
    font-size: 12px;
}

.upload-item .progress-bar {
    height: 3px;
    width: 100%;
    background: #eee;
    margin: 10px 0;
    display: none;
}


.upload-item .progress-bar-inner {
    height: 100%;
    width: 0;
    background: #cc181e;
}

#gDrive-upload .progress-bar-inner {
    background: #4285f4;
}

.upload-item .uploading-btn  {
    display: none;
    background: white;
    color: #666;
    pointer-events: none;
    border: none;
}
.upload-item .uploaded-btn {
    display: none;
    background: white;
    color: #ccc;
    pointer-events: none;
    padding: 0;
    border: none;
}

.upload-item.uploading .upload-btn{
    display: none;
}
.upload-item.uploading .uploading-btn{
    display: block;
}

.upload-item.uploaded .upload-btn{
    display: none;
}
.upload-item.uploaded .uploaded-btn{
    display: block;
}

.upload-item .url-area {
    display: none;
}

.upload-item .url-area i {
    font-size: 14px;
    margin-right: 5px;
    color: #666;
    position: relative;
    top: 2px;
}

.copy-tip {
    background: rgba(0,0,0,.6);
    color: white;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 3px;
    line-height: 16px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.upload-item .url-area input {
    padding: 2px 5px 2px 0;
    font-size: 12px;
    width: 230px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    height: 24px;
    outline: none;
    color: #444;
}

.tip {
    /*background: #f2dede;*/
    padding: 10px;
    margin-top: 40px;
    color: #333;
    line-height: 16px;
    border: 1px solid #999;
    border-radius: 2px;
}


.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

.clearfloat {
    zoom: 1;
}


.upgrade-btn {
    padding: 10px 20px;
    font-size: 14px;
    display: block;
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;

}
